@charset "utf-8";
/*
  Cascading Style Sheets
  HTML 파일을 작성할 때 글자의 크기나 색깔, 여백 등의 각종 스타일을 지정할 떄 사용하는 것 입니다.
*/
/* 상단에 여백 없애기 */
body{
	margin : 0;
	padding : 0;
	background-color: rgb(255, 239, 214);
}
/*rgb(255, 239, 214)*/

/* 텍스트 무늬 없애기, a태그 글씨체 지정 */
a{
	text-decoration : none;
	font-family: 'Jua', sans-serif;
}

p{
	text-decoration : none;
}

/* 헤더 상단 바 부분 */
.header {
	background-color: rgb(247,50,63);
	position: relative;
	margin: 0 auto;
}
/*#FE6D73*/
.nav {
	margin : 0 auto;
	width: 1200px;
	height: 70px;
	padding-top: 10px;
}

.img_logo{
	width : 150px;
	margin-top : 5px;
}

.mypage_logo{
	width:40px;
	margin-left: 850px;
	position:absolute;
	margin-top: 8px;
}

.button_login{
	text-align:center;
	background-color: #FFCB77;
	border: 10px solid  #FFCB77;
	border-radius: 30px;
	color: white;
	position : absolute;
	right : 20%;
	margin-top : 1%;
}

/* 메인 화면 사진 들어가는 부분 */
.photo {
	position: relative;
	margin : 50px auto;
	width: 1000px;
}

.main_img{
	width :1000px;
	border : 0;
}

/* 메인 화면 하단바 메뉴 */
.main_table{
	position: relative;
	width: 800px;
	margin: auto;
	border-style : none;
	text-align:center;
}

/* 상단 부분 메뉴 사진 표시*/
.top_menu_photo{
	margin-top : 40px;
	text-align: center;
}

.main_table p{
	color : black;
}

.main_table img{
	width : 100px;
}

/* 푸터 홈페이지 설명 영역 */
.footer {
    width : 100%;
    height : 250px;
    position : relative;
    bottom : 0px;
    background-color: rgba(240, 182, 57, 0.329);
    color : rgb(180, 144, 44);
}


.footer_detail{
    position: absolute;
    width : 300px;
    margin-left : 450px;
}

.footer_detail p{
    font-size : 15px;
}

.footer_company{
    position : absolute;
    width: 300px;
    margin-left : 810px;
}

.footer_company p{
    font-size : 15px;
}

.footer_bank{
    position : relative;
    width: 300px;
    margin-left : 1170px;
}

.footer_bank p{
    font-size : 15px;
}

/*rgb(255,221,223)*/
.type{
	object-fit: cover;
}


/*-------------로그인 페이지----------*/
.button_mypage{
	width:150px;
	height:50px;
	border-radius: 30px;
}

table td {
	border: solid gray;
	border: none;
	border-spacing: 0px;
}

/*-------------로그아웃 페이지-------------*/
.button_logout{
	text-align:center;
	background-color: #FFCB77;
	border: 10px solid  #FFCB77;
	border-radius: 30px;
	color: white;
	position : absolute;
	left : 44%;
	margin-top : 1%;
}

/*-------------마이페이지-------------*/

/* 정보수정 버튼 */
/*
.button_edit{
	text-align:center;
	background-color: #18C3B5;
	border: 8px solid  #18C3B5;
	border-radius: 30px;
	color: white;
	position : absolute;
	left : 60%;
	margin-top : 10px;
}*/

/*탈퇴하기 버튼*/
.button_dropout{
	text-align:center;
	background-color: #F5333C;
	border: 8px solid  #F5333C;
	border-radius: 30px;
	color: white;
	position : absolute;
	right : 43%;
	margin-top : 15px;
}

/*-------------마이페이지 - 정보수정 -------------*/
/*하얀색 배경 부분*/
.white_background{
	width : 1000px;
	height : 600px;
	background-color: white;
	margin:auto;
	margin-top : 3%;
}

/* 즐겨찾기 별모양 사진 관련 - bookmark.png */
.bookmark{
	width : 55px;
	margin-top : 3%;
	margin-left: 850px;
	position:absolute;
}

/* 마이페이지 정보수정 강아지 사진 - mypage_profile_logo.png */
.profile_logo{
	width : 120px;
	margin-left : 45%;
}

/*정보수정에서 강아지 사진 밑에 아이디 표시해주는 부분*/
.mypage_id{
	text-align:center;
	font-size : 30px;
	font-family: 'Jua', sans-serif;
}

/*마이페이지 - 비밀번호랑 email 수정 부분 테이블*/
.edit_table{
	position: relative;
	width: 380px;
	margin-left :31%;
	border-style : none;
	text-align:center;
}

/*비밀번호랑 email 수정할 때 edit버튼*/
.edit{
	background-color: #18C3B5;
	border-radius:10px;
	color: white;
}

/*-------------테이블 받아오기(로그인 전)----------*/
.container th{
	text-align : center;
	font-family: 'Jua', sans-serif;
	height : 30px;
}

.container td{
	text-align : center;
	font-family: 'Jua', sans-serif;
	height : 25px;
}
